nav{
    position: fixed;
    height: 100vh;
    width: 120px;
    top:0;
    left:0;
    background-color: black;
    color: white;
  }
  
  nav a {
    color: white;
    position: absolute;
    left: 10px;
    top:20px;
  }
  
  a:hover {
    background-color: green;
  }
  
  section{
    margin-left: 120px;
  }
  
  @media only screen and (max-width: 600px){
    nav {
      width: 100px;
    }
    section{
      margin-left: 100px;
    }
  } 